html {
    height: 100%; /* Establece la altura del elemento html */
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en la altura total */
}

*, *:before, *:after {
    box-sizing: inherit; /* Hereda box-sizing */
}

body {
    display: flex;
    flex-direction: column; /* Estructura la página en una dirección de columna */
    min-height: 100%; /* El mínimo de altura para el body es el 100% de la altura de la ventana del navegador */
    margin: 0; /* Elimina los márgenes por defecto */
    padding: 0; /* Elimina el padding por defecto */
    font-family: 'Arial', sans-serif; /* Establece la fuente por defecto */
    /* No se debe poner overflow: hidden aquí si queremos permitir desplazamiento */
}

.content {
    flex: 1; /* Permite que el contenido crezca para ocupar el espacio disponible */
    padding: 2rem; /* Agrega un padding para el contenido */
    /* Las siguientes propiedades son para el fondo */
    background-image: url('Background.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Si quieres que el fondo se desplace con el contenido, cambia a 'scroll' */
}

/* Estilos para header, nav, #about, h1, y footer van aquí */
