body {
    background-image: url('Background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

header .logo {
    float: left;
    margin-left: 20px;
}

header nav {
    float: right;
    margin-right: 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    padding: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    padding-top: 100px; /* Ajuste para el header fijo */
}

.profile-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    width: 80%;
    max-width: 1000px;
    min-height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
}

.profile-img {
    align-items: center;
    border-radius: 50%;
    width: 150px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
}

.button:hover {
    opacity: 0.8;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.project:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 150px;
    height: auto;
    border-radius: 4px;
    margin: 10px;
}

.project-info {
    padding: 10px;
}

.project-info h2 {
    margin-top: 0;
}

.project-info p {
    color: #555;
}

/* Agregado nuevo padding-top para main */
main {
    padding-top: 120px; /* Asegúrate de que este valor sea al menos la altura de tu header */
}
